// event-countdown-timer-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

event-countdown-timer {
    @include flex(space-around, center, row);
    .remaining-time-text {
        text-align: right;
    }
    .time-title-div {
        padding: 0 $half-percent;
    }
    .days-remaining-text {
        min-width: 7ch;
    }
    .hours-remaining-text {
        min-width: 8ch;
    }
    .minutes-remaining-text {
        min-width: 10ch;
    }
    .seconds-remaining-text {
        min-width: 10ch;
    }
}
