<!-- event-countdown-timer.component.html -->
<ng-container *ngIf="!isDuringEvent; else nowTemplate">
    <div class="time-title-div">
        <h5 class="remaining-time-text days-remaining-text">
            {{ remainingTime | dateDifference: DateInterval.DAYS }} Days
        </h5>
    </div>
    <div class="time-title-div">
        <h5 class="remaining-time-text hours-remaining-text">
            {{ remainingTime | dateDifference: DateInterval.HOURS }} Hours
        </h5>
    </div>
    <div class="time-title-div">
        <h5 class="remaining-time-text minutes-remaining-text">
            {{ remainingTime | dateDifference: DateInterval.MINUTES }} Minutes
        </h5>
    </div>
    <div class="time-title-div">
        <h5 class="remaining-time-text seconds-remaining-text">
            {{ remainingTime | dateDifference: DateInterval.SECONDS }} Seconds
        </h5>
    </div>
</ng-container>
<ng-template #nowTemplate>
    <div class="time-title-div">
        <h5>
            Happening Now! Come join us!
        </h5>
    </div>
</ng-template>