// checkbox.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

checkbox {
    @include square-size($three-percent);
    ss-img {
        @include square-size($three-percent);
        border: $thin-border solid transparent;
        @extend %circle-border-radius;
    }
    &.checked {
        ss-img {
            border: $thin-border solid $alabaster-stone;
            box-shadow: 0 0 $half-percent $half-percent $light-charcoal;
        }
    }
}
