 // floating-content-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

floating-content {
    @include flex(center, center, column);
    animation: float 16s ease-in-out infinite;


    transform-origin: center center;
    @keyframes float {
        0% {
            transform: translateY(0) translateX(0) rotate(0deg) scale(1);
        }
        18% {
            transform: translateY(-20px) translateX(5px) rotate(0.5deg) scale(1.01);
        }
        50% {
            transform: translateY(0) translateX(0) rotate(0deg) scale(1);
        }
        68% {
            transform: translateY(-20px) translateX(-5px) rotate(-0.5deg) scale(0.99);
        }
        100% {

            transform: translateY(0) translateX(0) rotate(0deg) scale(1);
        }
    }
}
