<ng-container>
    <ngb-carousel
            *ngIf="imageAssets && imageAssets.length"
            [showNavigationArrows]="true"
            [showNavigationIndicators]="true"
            [interval]="5000"
            [pauseOnHover]="true"
            [keyboard]="true"
            [wrap]="true"
            [activeId]="'0'">
        <ng-template ngbSlide *ngFor="let image of imageAssets; let i = index">
            <ss-img [imageAsset]="image"></ss-img>
        </ng-template>
    </ngb-carousel>
</ng-container>