// acm-action-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

acm-action {
    @include flex(center, center, row);
    color: $pristine-white;
    background-color: $acm-blue;
    padding: $one-percent;
    @extend %soft-border-radius;
    margin: $one-percent;
    box-shadow: $light-charcoal 0 0 simplest-calc(0.15) simplest-calc(0.1);
    ss-title {
        h6 {
            min-width: 27ch;
        }
    }
}
