 // this-week-subtitle-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

this-week-subtitle {
    h2, h3, h4, h5 {
        font-style: italic;
        text-decoration: underline;
    }
    h2 {
        font-size: calc($h2-font-size * 0.9);
    }
    h3 {
        font-size: calc($h3-font-size * 0.9);
    }
    h4 {
        font-size: calc($h4-font-size * 0.9);
    }
    h5 {
        font-size: calc($h5-font-size * 0.9);
    }
}
