 // home-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

home {
    @include flex(center, center, column);
    color: $pristine-white;
    #typing-promo-text-container-div {
        @include square-size(80%);
    }
    #group-title-div {
        align-self: center;
        justify-self: center;
    }
}
