 // home-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

home {
    @include flex(center, center, column);
    color: $pristine-white;
    #typing-promo-text-container-div {
        @include square-size(80%);
        @include flex(center, center, column);
        typing-text {
            text-align: center;
        }
    }
    #group-title-div {
        align-self: center;
        justify-self: center;
    }
    event-popup {
        position: absolute;
        top: $five-percent;
    }
    .acm-actions-list {
        @include flex(center, center, column);
        typing-text {
            margin: $half-percent 0;
        }
    }
}
