<!-- home.component.html -->
<!--<div>-->
<!--    <h1>ACM</h1>-->
<!--</div>-->
<!--<fade-in-content id="event-popup-div" [animationProperties]="homeEventPopupFadeInAnimationProperties">-->
<event-popup/>
<!--</fade-in-content>-->
<div id="typing-promo-text-container-div">
    <typing-text
        #topTypingText
        [typeSpeed]="TypeSpeed.FAST"
        [textToType]="promoTextFullTitle"
        [tagType]="TagType.H2"
        [applyBeingTypedStyle]="true"
        [typeOnLoad]="false"
    />
    <fade-in-out-content *ngIf="showAcronym"
                         id="group-title-div"
                         [fadeInOutAnimationProperties]="acmTitleFadeInOutAnimationProperties">
        <ss-title
                [tagType]="TagType.H1"
                [text]="promoTextAcronym"/>
    </fade-in-out-content>
    <fade-in-out-content class="acm-actions-list"
                         *ngIf="showWhatAcmDoes"
                         [fadeInOutAnimationProperties]="whatAcmDoesContentFadeInOutAnimationProperties">
        <fade-in-content *ngIf="showAcmActionsList"
                         [animationProperties]="quickFadeInAnimationProperties">
            <typing-text *ngIf="showAcmActionsList"
                         [textToType]="promoTextMeetProfessions"
                         [typeSpeed]="TypeSpeed.FAST"
                         [applyBeingTypedStyle]="true"
                         [tagType]="TagType.H4"
                         [enableBlinkingCursor]="false"
                         [hideBeingTypedClass]="true"/>
            <typing-text
                    *ngIf="showLearnSoftware"
                    [textToType]="promoTextSoftwareDevelopment"
                    [tagType]="TagType.H4"
                    [typeSpeed]="TypeSpeed.FAST"
                    [applyBeingTypedStyle]="true"
                    [enableBlinkingCursor]="false"
                    [hideBeingTypedClass]="true"/>
            <typing-text
                    *ngIf="showBuildTech"
                    [textToType]="promoTextBuildTech"
                    [tagType]="TagType.H4"
                    [typeSpeed]="TypeSpeed.FAST"
                    [applyBeingTypedStyle]="true"
                    [enableBlinkingCursor]="false"
                    [hideBeingTypedClass]="true"/>
            <typing-text
                    *ngIf="showFormFriendships"
                    [textToType]="promoTextFormFriendships"
                    [tagType]="TagType.H4"
                    [typeSpeed]="TypeSpeed.FAST"
                    [applyBeingTypedStyle]="true "
                    [enableBlinkingCursor]="false"
                    [hideBeingTypedClass]="true"/>
        </fade-in-content>
    </fade-in-out-content>
</div>