 // this-week-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

this-week {
    @include flex(flex-start, center, column);
    this-week-title-container {
        max-width: 95%;
        margin: $one-half-percent 0;
        this-week-title {
            margin: $one-percent 0 0 0;
        }
    }
    .meeting-content {
        @include flex(center, center, column);
        width: 80%;
    }
}
