 // this-week-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";
@import "../../elements/ss-button/ss-button.component.scss";

this-week {
    @include flex(flex-start, center, column);
    floating-content {
        max-width: 90%;
    }
    this-week-title-container {
        max-width: 95%;
        margin: $one-half-percent 0;
        this-week-title {
            margin: $one-percent 0 0 0;
        }
    }
    .meeting-content {
        @include flex(center, center, column);
        width: 80%;
    }
    fade-in-content {
        @include flex(center, center, column);
        width: 100%;
    }
    #replit-button {
        padding: $one-percent;
        @extend ss-button;
    }
}
