<!-- this-week.component.html -->
<floating-content>
    <this-week-title-container [topicTitle]="getNextMeetingTitle().prompt"/>
</floating-content>
<fade-in-content [animationProperties]="thisWeekMeetingContentFadeInAnimationProperties">
    <code-exercise *ngIf="isSecondMeeting()"
                   [codeExercises]="codeQualityExercises"/>

    <guest-speaker *ngIf="isThirdMeeting()"
                   [speaker]="shaneOMalleyPottingGuestSpeaker"/>
    <interview-workshop *ngIf="isFourthMeeting()"/>

    <guest-speaker *ngIf="isFifthMeeting()"
                   [speaker]="ethanPriceGuestSpeaker"/>
    <guest-speaker *ngIf="isSixthMeeting()"
                   [speaker]="samChapinGuestSpeaker"/>

    <ss-anchor class="content-button"
               *ngIf="isSeventhMeeting()"
               [elementLink]="replitElementLink"/>

    <mics-preparation *ngIf="isEighthMeeting()"/>

    <ss-anchor class="content-button"
               *ngIf="isNinthMeeting()"
               [elementLink]="javaJumpStartElementLink"/>

    <ss-anchor class="content-button"
               *ngIf="isTenthMeeting()"
                [elementLink]="pythonUnleashedElementLink"/>

</fade-in-content>

<!--<fade-in-content class="meeting-content" [animationProperties]="thisWeekMeetingContentFadeInAnimationProperties">-->
<!--    <leetcode-exercise [problems]="weekOneLeetCodeProblems"/>-->
<!--</fade-in-content>-->
