<!-- this-week.component.html -->
<floating-content>
    <this-week-title-container [topicTitle]="getNextMeetingTitle().prompt"/>
</floating-content>
<fade-in-content [animationProperties]="thisWeekMeetingContentFadeInAnimationProperties">
    <code-exercise *ngIf="isSecondMeeting()"
                   [codeExercises]="codeQualityExercises"/>

    <guest-speaker *ngIf="isThirdMeeting()"
                   [speaker]="shaneOMalleyPottingGuestSpeaker"/>
    <!--TODO: Add fourth meeting content-->
    <guest-speaker *ngIf="isFifthMeeting()"
                   [speaker]="ethanPriceGuestSpeaker"/>
    <guest-speaker *ngIf="isSixthMeeting()"
                   [speaker]="samChapinGuestSpeaker"/>

</fade-in-content>



<!--<fade-in-content class="meeting-content" [animationProperties]="thisWeekMeetingContentFadeInAnimationProperties">-->
<!--    <leetcode-exercise [problems]="weekOneLeetCodeProblems"/>-->
<!--</fade-in-content>-->
