<!-- this-week.component.html -->
<floating-content>
    <this-week-title-container [topicTitle]="nextMeetingPrompt.prompt"/>
</floating-content>
<!--<code-exercise [codeExercises]="codeQualityExercises"/>-->
<!--<fade-in-content class="meeting-content" [animationProperties]="thisWeekMeetingContentFadeInAnimationProperties">-->
<!--    <leetcode-exercise [problems]="weekOneLeetCodeProblems"/>-->
<!--</fade-in-content>-->
<!--<guest-speaker [speaker]="shaneOMalleyPottingGuestSpeaker"/>-->
<!--<fade-in-content class="trivia-div" [animationProperties]="thisWeekMeetingContentFadeInAnimationProperties">-->
<!--    <trivia *ngFor="let triviaGame of weekOneTriviaGames" [triviaGame]="triviaGame"/>-->
<!--</fade-in-content>-->
