// guest-speaker-topic-list-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

guest-speaker-topic-list {
    width: 90%;
    .topics-list {
        width: 100%;
        @include flex(space-around, center, row);
        flex-wrap: wrap;
    }
}
