// participation-mode-list.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

participation-mode-list {
    @include flex(space-around, flex-start, row);
    //width: $sixty-percent;
    width: 100%;
    max-width: 90%;
    flex-wrap: wrap;
}
