// guest-speaker.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

guest-speaker {
    @include flex(space-around, center, column);
    max-width: 90%;
    @extend %soft-border-radius;
    background-image:radial-gradient(at center, $charcoal, $faded-alabaster-stone);
    box-shadow: $alabaster-stone 0 0 $half-percent calc($eighth-percent / 2);
    margin: $one-percent 0;
    .title-with-subtitle {
        @include flex(center, center, column);
        background-image: radial-gradient($alabaster-stone, $pristine-white);
        padding: $one-percent;
        margin: $one-percent 0;
        @extend %soft-border-radius;
        ss-title, subtitle {
            color: $neutral-black;
            text-align: center;
            text-shadow: $neutral-black 0 0 $eighth-percent;
        }
    }
    .guest-speaker-bio-image {
        @include flex(space-around, center, row);
        .guest-speaker-bio {
            max-width: 40%;
            ss-paragraph {
                @extend %indented-text;
            }
        }
        .guest-speaker-image {
            max-width: 40%;
            ss-img {
                @include square-size($fifteen-percent);
                @extend %soft-border-radius;
            }
        }
    }
}
