//=================================-Imports-==================================
@import "global-variables";
@import "global-mixins";
@import "global-functions";
//===============================-Placeholders-===============================

//-------------------------------Indented-Text--------------------------------
%indented-text {
    text-indent: $two-percent;
}

%circle-border-radius {
    border-radius: 50%;
}
%soft-border-radius {
    border-radius: $one-percent;
}
%fill-container {
    @include square-size(100%);
}
%no-margin-padding {
    @include basic-margin-padding(0, 0);
}
%nav-bar-padding-top {
    padding-top: calc-size(6, 4, 2);
}