// subtitle-style.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

subtitle {
    @include flex(center, center, row);
    color: $pristine-white;
    font-style: italic;
    text-align: center;
}
